*{
    margin: 0;
    padding: 0;
    font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;
}
body{
    background-color: #141e24;
    padding: 20px;
    width: 15rem;
    border: #53a1b3 solid 3px;
}

h2{
    color: beige;
    color: #e96c4c;
}

p{
    padding-top: 10px;
    color: antiquewhite;
}

button{
    padding: 15px;
    min-width: 15rem;
    margin: 5px;
    background-color: #141e24;
    border: #53a1b3 solid 3px;
    color: antiquewhite;
}

button:hover{
background-color: #53a1b3;
color: #141e24;
}